* {
  /* border: 5px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  border-top: 20px solid #1098ad;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto; /* shorthand margin top/bottom == 0 and left/right ==same size */
  position: relative;
}

body {
  font-family: sans-serif;
  color: #444;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  /* padding: 20px 40px; */
  /* margin-bottom: 60px; */
  /* height: 80px; */
}

.aside-section {
  background-color: #dfdfdf;
  /* border: 5px solid #1098ad; */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 20px;
}

.article-section {
  /* margin-bottom: 60px; */
}

h1,
h2,
h3 {
  color: #1098ad;
}

h3 {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 30px;
}

h1 {
  /* background-color: rgba(0, 255, 255, 0.8); RGBA NOTATION*/
  /* background-color: #00ffff;  HEXADECIMAL  NOTATION  also can use shorthand #0ff in case when color reprecented with duplicated letters*/
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

h1::first-letter {
  /* pseudo elements */
  font-style: normal;
  margin-right: 5px;
}

.article-title::after {
  content: "TOP ARTICLE";
  /* margin: 20px; */
  background-color: #ffe70e;
  color: #444;
  font-weight: bold;
  font-size: 10px;
  display: inline-block;
  padding: 3px 10px;

  position: absolute;
  top: -10px;
  right: -80px;
}

.article-title {
  font-size: 40px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
}

.article-header {
  margin-bottom: 40px;
}

.related-post-header {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

p.relatedPostBy {
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-left: 0;
}

/*PSEUDO CLASSES*/
li:first-child {
  /*first element of each list will be bold*/
  /* font-weight: bold; */
}

li:last-child {
  /*last element of each list will be italic*/
  margin-bottom: 0;
}

li:nth-child(2) {
  /* second element of each list will be red*/
  /* color: red; */
}

/* Styling hyperlinks */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: orangered;
  font-weight: bold;
  font-size: 20px;
  text-decoration: orangered;
}

a:active {
  color: #1098ad;
}

nav {
  /* text-align: center; */
}

.nav-link {
  /* font-size: 18px;
  background-color: red;
  margin: 20px;
  display: block; */
  /* margin-right: 50px;
  margin-top: 10px; */
  display: inline-block;
}

.nav-link:link:last-child {
  margin-right: 0;
}

.related-post-title {
  color: #1098ad;
  font-weight: bold;
}

.mdn-web-docs {
  color: #1098ad;
  font-weight: bold;
}

/* css conflicta = multiple stylings applied to the same element */
footer p {
  color: greenyellow; /*P4*/
}

#copyright {
  color: #444; /*P1*/
}

.copyright {
  color: purple; /*P3*/
}

.footer {
  /* color: red !important; P0 but its not a good practice to use it */
}

.footer {
  color: purple; /*P2 last code line has priority*/
}

.post-img {
  width: 100%;
  height: auto;
}

.like-btn {
  font-size: 30px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;

  position: absolute;
  bottom: 90px;
  right: 400px;
}

/* FLOATS
.author-img {
  float: left;
  margin-bottom: 20px;
}
.author {
  /* padding-left: 100px; */
/*
  margin-left: 20px;
  margin-top: 10px;
  float: left;
}

h1 {
  float: left;
}
nav-link {
  float: right;
}

/* SOLVING COLLAPSING HIGHT ISSUE */
/* .clear {
  clear: both;
} */
/*
.clearfix::after {
  clear: both;
  content: " ";
  /* CLEAR WORKS ONLY ON BLOCK ELEMENTS THEREFORE WE HAVE TO MAKE PSEUDO ELEMENT A BLOCK */
/*display: block;
}

article {
  /* background-color: green; */
/* width: 825px;
  float: left;
}

aside {
  /* background-color: lightgreen; */
/* width: 250px;
  float: right;
}

footer {
  /* background-color: greenyellow; */
/* }

.footer {
  clear: both;
} 
*/

/* FLEXBOX IMPLEMENTATION */

.main-header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.related-posts-list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.related-post-title:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

/* .related-post-info {
  margin-left: 15px;
} */

.article-and-aside {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.aside-section {
  flex: 1;
  margin-bottom: 60px;
}

.article-section {
  flex: 5;
  padding-bottom: 0;
}
.footer {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto auto;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  grid-column: 1/-1;
  grid-row: 1;
  margin-bottom: 0;
}

.article-section {
}

.aside-section {
  flex: 0 1 auto;
  /* align-self: flex-start; */
}

.footer {
  grid-column: 1/-1;
}
